<div class="format">
<%= form_for(@park, url: park_path) do |f| %>

 <div class ="list">
    <%= f.file_field :park_image %>
      
      <%= f.label :park_title, "タイトル" %>
      <%= f.text_field :park_title %>
      
      <%= f.label :park_category, "カテゴリー" %>
      <%= f.select :park_category, [["20代", "20代"], ["30代", "30代"],  ["40代", "40代"], ["50代以上", "50代"],["60代以上", "60代以上"] ],  :prompt => "選択してください" %>


      <%= f.label :park_address, "住所" %>
      <%= f.text_field :park_address %>
      
     <%= f.label :park_discription, "説明" %>
      <%= f.text_field :park_discription %>

     <%= f.label :station, "最寄り駅" %>
      <%= f.text_field :station %>
      
          <%= f.label :park_phone_number %>
      <%= f.text_field :park_phone_number %>
      
       <%= f.label :park_url %>
      <%= f.text_field :park_url %>
      
     <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
</div>
</div>