<div id="map" style='width: 100%; height: 500px;'></div>
 
  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: { scrollwheel: false }, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
        {
          "lat": <%= @park.latitude %>,
          "lng": <%= @park.longitude %>
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(17);
    });
  </script>

        <h1><%= @park.park_title %></h1>
     
  <session class= "park-contents">
    <div class= "park-kids">
      <%= image_tag @park.park_image %>
    </div>
    <div class="park-kids">
      <%= @park.park_title %>
    </div>
 <div class="park-kids">
      <%= @park.park_address %>
      </div>
       <div class="park-kids">
      <%= @park.park_discription %>
      </div>
    <div class ="floor-map">
      <%= button_to "フロアマップを開く", @park.park_url, class: "floor-site" %>
    </div>
  </session>
    <h3>Shop List</h3>
 <div class-"search-box">
     <%= form_tag(park_path, :method => 'get' ) do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :park_title => nil %>
  <% end %>
  
 
      <div class="shop_list">
  <ul><% @park_shops.each do |shop| %>
  <li>
    <li>
       
      <p><%= shop.shop_name %></p>
  </li>
 
  </li>

  </ul>
</div>
<% end %>
<div class="row d-flex">
</div>

<div>
<%= form_for(@bookmark, url: user_bookmarks_path(current_user) ) do |bookmark| %>
<%= bookmark.submit "ボタン", class: "button" %>
<%= bookmark.hidden_field :park_id, value: @park.id %>
</div>
<% end %>
<% provide(:title, 'Search') %>
<div>

 </div>
<div>

</div>

<% if current_user.admin? %>
  
    <%= link_to "編集", edit_park_path %>
    <%= link_to "作成", new_park_path %>

<% end %>

  </div>
    