<% provide(:title, @park.park_title) %>
<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <h1>
      
        <%= @park.park_title %>
      </h1>
      
      <%= @park.park_title %>
      <%= @park.park_address %>
      <%= @park.park_discription %>
      <%= @park.park_image %>
      <%= @park.park_url %>
      
              
      
          </section>
  </aside>
</div>