<% provide(:title, @user.name) %>
<div class="row">
  <aside class="gravatar1
 ">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div>
    <% @bookmarks.each do |bookmark|%>
    <%= bookmark.park.park_title %>
     <%= form_for(bookmark, url: user_bookmarks_path(current_user), method: :delete ) do |user| %>
      <%= user.submit "ボタン", class: "button" %>
    
       <%= user.hidden_field :id, value: bookmark.id %>
       <%= user.hidden_field :park_id, value: bookmark.park_id %>
    <% end %>

</div>
<% end %>
  </div>
